body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom, #1e3c72, #2a5298);
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-box {
    width: 100%;
    padding: 15px;
}

.search-box input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
}

.location-box {
    text-align: center;
    margin-top: 30px;
}

.location {
    font-size: 32px;
    font-weight: 500;
}

.date {
    font-size: 18px;
    font-weight: 300;
    margin-top: 10px;
}

.temp {
    font-size: 48px;
    font-weight: 600;
    margin-top: 20px;
}

.weather {
    font-size: 32px;
    font-weight: 500;
    margin-top: 10px;
}
